# Ignore node_modules
node_modules/

# Ignore .env file
.env

# Ignore npm log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build and output directories
/dist
/build

# Ignore dependency directories for common package managers
/.pnp
.pnp.js

# Ignore IDE and OS specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db
