@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #021256;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 21s linear infinite;
}




.background li:nth-child(0) {
    left: 67%;
    width: 231px;
    height: 231px;
    bottom: -231px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 41%;
    width: 204px;
    height: 204px;
    bottom: -204px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 44%;
    width: 188px;
    height: 188px;
    bottom: -188px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 29%;
    width: 116px;
    height: 116px;
    bottom: -116px;
    animation-delay: 13s;
}
.background li:nth-child(4) {
    left: 19%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 8s;
}
.background li:nth-child(5) {
    left: 26%;
    width: 243px;
    height: 243px;
    bottom: -243px;
    animation-delay: 4s;
}
.background li:nth-child(6) {
    left: 4%;
    width: 267px;
    height: 267px;
    bottom: -267px;
    animation-delay: 14s;
}
.background li:nth-child(7) {
    left: 38%;
    width: 196px;
    height: 196px;
    bottom: -196px;
    animation-delay: 14s;
}
.background li:nth-child(8) {
    left: 72%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 3s;
}
.background li:nth-child(9) {
    left: 33%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 28s;
}
.background li:nth-child(10) {
    left: 26%;
    width: 291px;
    height: 291px;
    bottom: -291px;
    animation-delay: 4s;
}
.background li:nth-child(11) {
    left: 0%;
    width: 194px;
    height: 194px;
    bottom: -194px;
    animation-delay: 29s;
}
.background li:nth-child(12) {
    left: 77%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 18s;
}