@tailwind base;
@tailwind components;
@tailwind utilities;


/* .text12 {
    background: linear-gradient(to right, #A104FF, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  } */

  html {
    scroll-behavior: smooth;
  }
  